{% if site.discus-identifier %}
	<section class="comment-area w-100">
		<div class="comment-wrapper">
	<!-- COMMENTS! -->
	<button id="show-comments-button">Show comments</button>
	<span id="loading-comments-text" style="display: none;">Loading comments...</span>
    <div id="disqus_thread" style="display: none;"></div>
	<script>
		// define a function to load Disqus comments
function loadDisqus() {
  var disqus_config = function () {
    // set your Disqus configuration variables here
  };
  
  // create the Disqus script element
  var d = document, s = d.createElement('script');
  s.src = 'https://aomi-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  
  // add an event listener to hide the "loading comments" text when Disqus is loaded
  s.addEventListener('load', function() {
    var loadingCommentsText = document.getElementById('loading-comments-text');
    loadingCommentsText.style.display = 'none';
  });
}

// get the "Show comments" button element and "loading comments" text element
var showCommentsButton = document.getElementById('show-comments-button');
var loadingCommentsText = document.getElementById('loading-comments-text');

// add a click event listener to the button
showCommentsButton.addEventListener('click', function() {
  // show "loading comments" text
  loadingCommentsText.style.display = 'inline';
  
  // replace the "Show comments" button with the Disqus comments
  var disqusThread = document.getElementById('disqus_thread');
  disqusThread.style.display = 'block';
  showCommentsButton.style.display = 'none';

  // load the Disqus comments
  loadDisqus();
});

	</script>
		</div>
	</section>
{% endif %}
