{% if page.image %}
    <div class="entry-featured-image">
        {% if site.lazyimages == "enabled" %}
        <img class="featured-image lazyimg {% if page.imageshadow %} image-shadow {% endif %}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ page.image }}" alt="{{ page.title }}">
        {% else %}
        <img class="featured-image {% if page.imageshadow %} image-shadow {% endif %}" src="{{ page.image }}" alt="{{ page.title }}">
        {% endif %}
    </div>
    {% else %}
    {% assign default_image = page.title | replace: ' ', '%20' | replace: ',', '%2C' %}
    {% assign encoded_text = default_image | replace: '%', '%25' | replace: '&', '%26' | replace: ':', '%3A' | replace: '#', '%23' | replace: '?', '%3F' | replace: '$', '%24' | replace: '@', '%40' | replace: '+', '%2B' | replace: '/', '%2F' | replace: '\\', '%5C' %}
    {% assign text_size = 80 %}
    {% assign cloudinary_url = 'https://res.cloudinary.com/dkaxmhco0/image/upload/c_scale,w_1200,h_630/c_fit,w_1000,co_rgb:fff,l_text:Arial_75_700:' | append: encoded_text | append: '/fl_layer_apply,g_west,x_57/ymcc3z0nbnt45xijystj.png' %}

    <div class="entry-featured-image">
        {% if site.lazyimages == "enabled" %}
        <img class="featured-image lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ cloudinary_url }}" alt="{{ page.title }}">
        {% else %}
        <img class="featured-image" src="{{ cloudinary_url }}" alt="{{ page.title }}">
        {% endif %}
    </div>
{% endif %}
