<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="blog-grid-item">
    
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}
                    {% if site.lazyimages == "enabled" %}
                        <img class="img-thumb lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ post.image }}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-thumb" src="{{ post.image }}" alt="{{ post.title }}">
                    {% endif %}
                {% else %}
                    {% assign default_image = post.title | replace: ' ', '%20' | replace: ',', '%2C' %}
                    {% assign encoded_text = default_image | replace: '&', '%2526' | replace: ':', '%253A' | replace: '%', '%25' | replace: '#', '%2523' | replace: '?', '%253F' | replace: '$', '%2524' | replace: '@', '%2540' | replace: '+', '%252B' | replace: '/', '%252F' | replace: '\\', '%255C' %}
                    {% assign text_size = 80 %}
                    {% assign cloudinary_url = 'https://res.cloudinary.com/dkaxmhco0/image/upload/c_scale,w_1200,h_630/c_fit,w_1000,co_rgb:fff,l_text:Arial_75_700:' | append: encoded_text | append: '/fl_layer_apply,g_west,x_57/ymcc3z0nbnt45xijystj.png' %}
                    {% if site.lazyimages == "enabled" %}
                        <img class="img-thumb lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ cloudinary_url }}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-thumb" src="{{ cloudinary_url }}" alt="{{ post.title }}">
                    {% endif %}
                {% endif %}
            </a>
        </div>        
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:12 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {% if post.author %}
                <span class="meta-footer-thumb">
                {% if author.avatar %}
                <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                {% else %}
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {% endif %}
                </span>
                <span class="author-meta">
                <span class="post-name font-weight-bold">{{ author.display_name }}</span> 
                {% endif %}
                <span class="post-date">{{ post.date | date_to_string }}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->