---
layout: default
disqus: false
archive: false
post_class: post-template
---

<div class="entry-header">
    <!-- Post Title -->
    <h1 class="posttitle">{{ page.title }}</h1>
    <!-- Author & Date  Box -->
    {% assign author = site.authors[page.author] %}
    {% if page.author %}
    <div class="d-flex align-items-center mt-4">
        <div class="author-avatar">
            {% if author.avatar %}
            <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
            {% else %}
            <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
            {% endif %}
        </div>            
        <div class="author-name">
        Written by {{ author.display_name }} on 
        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
        {% if page.last_modified_at %}
        (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
        {% endif %}
        </div>
        <div class="dl-main">
            {% if page.dl and page.dltype %}
            <a href="{{ page.dl }}" target="_blank"><button class="get-link">Get {{ page.dltype }} here <i class="fa-solid fa-arrow-up-right-from-square"></i><svg style="width:20px;padding-left:5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#ffffff" d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg></button></a>
            {% endif %}
        </div>          
    </div>
    {% endif %}
</div>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
    {% include adsense-under-header.html %}
{% endif %}

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Content -->
{% include article.html %}

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Author Box if enabled from _config.yml -->
{% include author-box.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include related-posts.html %}

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
    <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
    },
    "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
    },
    "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
    "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
    }
    }
    </script>
{% endif %}